<article class="entry" itemscope="" itemtype="http://schema.org/Blog" style="border-bottom-width:0;">
	<div class="work-content"> 
		<div class="project-wrap" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
			<a href="http://apps4contractor.com">
				<figure class="project-tease"> 
					<img src="{{ site.url }}/images/a4c-sq.png" alt="A4C teaser" border="0" itemprop="image"> 
					<figcaption> 
						<div class="figcaption-wrap"> 
							<h3 itemprop="name">Apps4Contractor Daily Report</h3> 
						</div>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</article>